<form method="post" action="{{ path('app_company_critere_delete', {'id': company_critere.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company_critere.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
