{% extends 'base.html.twig' %}

{% block title %}New DevCritere{% endblock %}

{% block body %}
    <h1>Create new DevCritere</h1>

    {{ include('dev_critere/_form.html.twig') }}

    <a href="{{ path('app_dev_critere_index') }}">back to list</a>
{% endblock %}
